# Node & workspace artifacts
node_modules
.pnp.*
.yarn/**
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/versions

# Build outputs
.next
apps/web/.next
apps/api/dist
apps/extension/dist
coverage
out
build
dist

# Environment files
.env
.env.*

# Logs & debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# Platform specific
.DS_Store

# Vercel / deployment
.vercel

# Firebase artifacts
firebase-debug.log
firestore-debug.log
